.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-4;
  margin: $spacing-10;
  padding: $spacing-10;
}

.block-element {
  display: block;
  border: 1px solid;
  padding: $spacing-8;
  border-radius: 10px;
}

.block-element:hover {
  background: rgb(211, 209, 209);
}

.create-project-text {
  color: rgb(181, 24, 24);
}
